#!CANYAN RATING ENGINE
#
# Canyan Rating engine - example configuration script
#     - web: https://www.canyan.io
#     - git: https://github.com/canyanio/integration
#

event_route[dialog:start] {
    $dlg_var(account_tag) = $fU;

    route(RATING_BEGIN_TRANSACTION);
}

event_route[dialog:end] {
    $dlg_var(account_tag) = $fU;

    route(RATING_END_TRANSACTION);
}

route[RATING_AUTHORIZATION] {
    $http_req(all) = $null;
    $http_req(suspend) = 1;
    $http_req(timeout) = RATING_AGENT_TIMEOUT;
    $http_req(method) = "POST";
    $http_req(hdr) = "Content-Type: application/json";
    jansson_set("string", "transaction_tag", $ci, "$var(query)");
    jansson_set("string", "account_tag", $dlg_var(account_tag), "$var(query)");
    jansson_set("string", "source", $fu, "$var(query)");
    jansson_set("string", "destination", $tu, "$var(query)");
    $http_req(body) = $var(query);
    xlog("L_NOTICE", "RATING_AUTHORIZATION: $var(query)\n");
    t_newtran();
    http_async_query(RATING_AGENT_URL + "/v1/authorization", "RATING_AUTHORIZATION_RESPONSE");
}

route[RATING_AUTHORIZATION_RESPONSE] {
    xlog("L_NOTICE", "RATING_AUTHORIZATION_RESPONSE: httpok=$http_ok httperr=$http_err httprb=$http_rb\n");

    if(!$http_ok || $http_rs >= 300) {
        if ($http_rs == 408) {
            send_reply(408, "Rating request timeout");
            xlog("L_ALERT", "Rating request timeout\n");
        }
        send_reply(500, "Rating is not available");
        xlog("L_ALERT", "Rating Agent is not available\n");
        exit;
    } else if ($http_rs == 200) {
        if(!jansson_get("authorized", $http_rb, "$var(authorized)")) {
            xlog("L_ERR", "Rating: Cannot parse json data\n");
            route(RATING_AUTHORIZATION_RESPONSE_TEMPORARILY_UNAVAILABLE);
        }

        if ($var(authorized) != 1) {
            jansson_get("unauthorized_reason", $http_rb, "$var(unauthorized_reason)");
            if ($var(unauthorized_reason) != "") {
                switch ($var(unauthorized_reason)) {
                    case "NOT_FOUND":
                        route(RATING_AUTHORIZATION_RESPONSE_NOT_FOUND);
                    case "NOT_ACTIVE":
                        route(RATING_AUTHORIZATION_RESPONSE_NOT_ACTIVE);
                        break;
                    case "UNREACHEABLE_DESTINATION":
                        route(RATING_AUTHORIZATION_RESPONSE_UNREACHEABLE_DESTINATION);
                        break;
                    case "TOO_MANY_RUNNING_TRANSACTIONS":
                        route(RATING_AUTHORIZATION_RESPONSE_TOO_MANY_RUNNING_TRANSACTIONS);
                        break;
                    case "BALANCE_INSUFFICIENT":
                        route(RATING_AUTHORIZATION_RESPONSE_BALANCE_INSUFFICIENT);
                        break;
                    default:
                        route(RATING_AUTHORIZATION_RESPONSE_FORBIDDEN);
                }
            }
            exit;
        }

        jansson_get("max_available_units", $http_rb, "$var(max_available_units)");
        $var(max_available_units) = $(var(max_available_units){s.int});
        if ($var(max_available_units) <= 0) {
            route(RATING_AUTHORIZATION_RESPONSE_BALANCE_INSUFFICIENT);
        }
        if (dlg_set_timeout("$var(max_available_units)")) {
            xlog("L_NOTICE", "Rating: Setting dialog timeout to $var(max_available_units)\n");
        } else {
            xlog("L_ALERT", "Rating: ERRROR Setting dialog timeout to $var(max_available_units)\n");
            route(RATING_AUTHORIZATION_RESPONSE_TEMPORARILY_UNAVAILABLE);
        }

        jansson_get("carriers", $http_rb, "$dlg_var(carriers)");
        jansson_set("array", "carriers", $dlg_var(carriers), "$var(carriers)");
        jansson_array_size("carriers", $var(carriers), "$var(carriers_size)");

        # there is no carriers in the response
        if ($var(carriers_size) <= 0) {
            xlog("L_ERR", "ERROR: RATING_AUTHORIZATION_RESPONSE var carriers: $var(carriers) - empty\n");
            send_reply(600, "No carrier found");
            exit;
        }

        jansson_get("carriers[0]", $var(carriers), "$dlg_var(du_primary)");
        $dlg_var(du_primary) = $(dlg_var(du_primary){s.replace,UDP,sip});

        # we've got more than one carrier, we can store the failover in a dlg_var
        if ($var(carriers_size) >= 2) {
            jansson_get("carriers[1]", $var(carriers), "$dlg_var(du_secondary)");
            $dlg_var(du_secondary) = $(dlg_var(du_secondary){s.replace,UDP,sip});
        }
        $du = $dlg_var(du_primary);

        route(SIPOUT);
    }
}

route[RATING_BEGIN_TRANSACTION] {
    $http_req(all) = $null;
    $http_req(suspend) = 0;
    $http_req(timeout) = 1900;
    $http_req(method) = "POST";
    $http_req(hdr) = "Content-Type: application/json";
    jansson_set("string", "transaction_tag", $ci, "$var(query)");
    jansson_set("string", "account_tag", $dlg_var(account_tag), "$var(query)");
    jansson_set("string", "source", $fu, "$var(query)");
    jansson_set("string", "destination", $tu, "$var(query)");
    # jansson_set("string", "source_ip", $dlg_var(source_ip), "$var(params)"); # for anomaly detection or stats
    # jansson_set("string", "carrier_ip", $dlg_var(carrier_ip), "$var(params)"); # for anomaly detection or stats
    $http_req(body) = $var(query);
    xlog("L_NOTICE", "RATING_BEGIN_TRANSACTION: $var(query)\n");
    http_async_query(RATING_AGENT_URL + "/v1/begin_transaction", "RATING_BEGIN_TRANSACTION_RESPONSE");
}

route[RATING_BEGIN_TRANSACTION_RESPONSE] {
    xlog("L_NOTICE", "RATING_BEGIN_TRANSACTION_RESPONSE: httpok=$http_ok httperr=$http_err httprb=$http_rb\n");
    if ($http_ok && $http_rs == 200) {
        jansson_get("ok", $http_rb, "$var(ok)");
        if ($var(ok) == true) {
            return;
        }
    }
    send_reply(500, "Rating not available");
    xlog("L_ALERT", "Rating: Not available: $http_err\n");
    exit;
}

route[RATING_END_TRANSACTION] {
    $http_req(all) = $null;
    $http_req(suspend) = 0;
    $http_req(timeout) = 1900;
    $http_req(method) = "POST";
    $http_req(hdr) = "Content-Type: application/json";
    jansson_set("string", "transaction_tag", $ci, "$var(query)");
    jansson_set("string", "account_tag", $dlg_var(account_tag), "$var(query)");
    jansson_set("string", "source", $fu, "$var(query)");
    jansson_set("string", "destination", $tu, "$var(query)");
    # jansson_set("string", "source_ip", $dlg_var(source_ip), "$var(params)"); # for anomaly detection or stats
    # jansson_set("string", "carrier_ip", $dlg_var(carrier_ip), "$var(params)"); # for anomaly detection or stats
    $http_req(body) = $var(query);
    xlog("L_NOTICE", "RATING_END_TRANSACTION: $var(query)\n");
    http_async_query(RATING_AGENT_URL + "/v1/end_transaction", "RATING_END_TRANSACTION_RESPONSE");
}

route[RATING_END_TRANSACTION_RESPONSE] {
    xlog("L_NOTICE", "RATING_END_TRANSACTION_RESPONSE: httpok=$http_ok httperr=$http_err httprb=$http_rb\n");
    if ($http_ok && $http_rs == 200) {
        jansson_get("ok", $http_rb, "$var(ok)");
        if ($var(ok) == true) {
            return;
        }
    }
    xlog("L_ALERT", "Rating: Not available: $http_err\n");
    send_reply(500, "Rating not available");
    exit;
}

route[RATING_AUTHORIZATION_RESPONSE_NOT_FOUND] {
    xlog("L_NOTICE", "Forbidden -- rating account not found\n");
    send_reply(403, "Rating: Forbidden -- rating account not found");
    exit;
}

route[RATING_AUTHORIZATION_RESPONSE_NOT_ACTIVE] {
    xlog("L_NOTICE", "Rating: Forbidden -- rating account not active\n");
    send_reply(403, "Forbidden -- rating account not active");
    exit;
}

route[RATING_AUTHORIZATION_RESPONSE_UNREACHEABLE_DESTINATION] {
    xlog("L_NOTICE", "Rating: Forbidden -- unreacheable rating destination\n");
    send_reply(403, "Forbidden -- unreacheable rating destination");
    exit;
}

route[RATING_AUTHORIZATION_RESPONSE_TOO_MANY_RUNNING_TRANSACTIONS] {
    xlog("L_NOTICE", "Rating: Forbidden -- too many ongoing calls\n");
    send_reply(403, "Forbidden -- too many ongoing calls");
    exit;
}

route[RATING_AUTHORIZATION_RESPONSE_BALANCE_INSUFFICIENT] {
    xlog("L_NOTICE", "Rating: Forbidden -- insufficient balance\n");
    send_reply(403, "Forbidden -- insufficient balance");
    exit;
}

route[RATING_AUTHORIZATION_RESPONSE_FORBIDDEN] {
    xlog("L_NOTICE", "Rating: Forbidden\n");
    send_reply(403, "Forbidden");
    exit;
}

route[RATING_AUTHORIZATION_RESPONSE_TEMPORARILY_UNAVAILABLE] {
    xlog("L_NOTICE", "Rating: Temporarily Unavailable\n");
    send_reply(480, "Temporarily Unavailable");
    exit;
}
